<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\BasePriceModifier">
        <arguments>
            <argument name="priceModifiers" xsi:type="array">
                <item name="inventoryProductPriceIndexFilter" xsi:type="object" >WebHostingAce\CatalogInventory\Model\Indexer\ProductPriceIndexFilter</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogInventory\Model\Indexer\ProductPriceIndexFilter">
        <plugin name="change_select_for_price_modifier" disabled="true" />
    </type>
</config>
